{% extends "layout.html" %}

{% block main %}
	<section>
		<div class="container mt-5">
			<h1 class="display-4">We are here to simplify and help you understand the search process</h1>
		</div>
	</section>

	<br>

	<section>
		<div class="container">
			<div class="ratio ratio-16x9">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/EctxniP8CeA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</section>
{% endblock main %}