{% extends "layout.html" %}

{% block main %}
	<section>
		<div class="container mt-5">
			<h1>Request Password Reset</h1>
			<form method="POST" action="" class="form-control">
				{{ form.hidden_tag() }}

				<div class="col-12">
					{{ form.password.label(class = "form-label") }}
					
					{% if form.password.errors %}
						{{ form.password(class = "form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class = "form-control") }}
					{% endif %}
				</div>

				<div class="col-12">
					{{ form.confirm_password.label(class = "form-label") }}
					
					{% if form.confirm_password.errors %}
						{{ form.confirm_password(class = "form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_password(class = "form-control") }}
					{% endif %}
				</div>

				<div class="col-md-6 mt-2">
					{{ form.submit(class = "btn btn-primary") }}
				</div>
			</form>
		</div>
	</section>
{% endblock main %}